.airport-section, .cab-section, .subway-section {
  border-bottom: 3px solid $gray;
  font-size: 16px;
  font-weight: lighter;
  line-height: 26px;
  padding: 8rem 11%;
  h3 {
    font-size: 42px;
    font-weight: lighter;
    margin-top: 0.5rem;
    text-align: center;
  }
  h4 {
    color: $gray;
    font-size: 10rem;
    margin: 0;
    text-align: center;
    &::after {
      border-bottom: 3px solid $primaryColor;
      content: '';
      display: block;
      margin: 0 auto;
      position: relative;
      top: 5rem;
      width: 30px;
    }
  }
  svg {
    display: block;
    height: 80px;
    margin: 0 auto;
    position: relative;
    top: 3rem;
    width: 80px;
  }
  .airport-content, .cabs-content, .subway-content {
    margin-top: 7rem;
    #left-arrow, #right-arrow {
      height: 25px;
      width: 25px;
      &:hover {
        cursor: pointer;
      }
    }
    #left-arrow {
      position: relative;
      top: -9rem;
      right: 54%;
    }
    #right-arrow {
      position: relative;
      top: -16.25rem;
      left: 54%;
    }
    figure {
      background: $white;
      box-shadow: 1px 2px 3px rgba($gray, 0.6);
      float: right;
      margin: 0 0 3rem 4rem;
      width: 44%;
      figcaption {
        padding: 1.25rem;
      }
      p {
        font-weight: bolder;
        margin: 0;
      }
      p:last-child {
        font-weight: lighter;
      }
      img {
        height: 375px;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}

@media (max-width: 830px) {
  .airport-section, .cab-section, .subway-section {
    h4 {
      font-size: 7rem;
      &::after {
        top: 3rem;
      }
    }
    h3 {
      font-size: 36px;
      position: relative;
      bottom: 1rem;
    }
    svg {
      height: 50px;
      top: 1rem;
      width: 50px;
    }
    .airport-content, .cabs-content, .subway-content {
      margin-top: 4rem;
    }
  }
}


@media (max-width: 800px) {
  .airport-section, .cab-section, .subway-section {
    padding: 3rem 8%;
    h4 {
      font-size: 6rem;
    }
    .airport-content, .cabs-content, .subway-content {
      margin-top: 5rem;
      figure {
        float: none;
        margin: 0 auto 2rem auto;
        width: 90%;
      }
      #right-arrow {
        top: -16.4rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .airport-section, .cab-section, .subway-section {
    h4 {
      font-size: 4rem;
      &::after {
        top: 1.5rem;
      }
    }
    h3 {
      font-size: 26px;
      position: relative;
      bottom: 1.75rem;
    }
    svg {
      height: 40px;
      width: 40px;
      top: -0.7rem;
    }
    .airport-content, .cabs-content, .subway-content {
      margin-top: 3rem;
    }
  }
}
