header {
  background-image: url('/assets/images/bg-nyc.png');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  color: $white;
  height: 850px;
  padding: 3rem 11%;
  img {
    width: 125px;
  }
  h1 {
    font-size: 72px;
    font-weight: 800;
    line-height: 70px;
    margin-top: 13rem;
  }
  p {
    font-size: 18px;
    line-height: 26px;
    width: 75%;
  }
}

nav {
  border-bottom: 3px solid $gray;
  padding: 0 13%;
  ul {
    a {
      color: $primaryText;
      font-size: 14px;
      text-decoration: none;
    }
    li {
      border-bottom: 3px solid rgba($gray, 0.1);
      display: inline-block;
      margin: 0 0.7rem;
      padding: 1rem 0 0.7rem 0;
      &:hover, &:active {
        border-bottom: 3px solid $primaryColor;
      }
    }
  }
}

@media (max-width: 900px) {
  header {
    height: 650px;
    h1 {
      font-size: 60px;
      line-height: 62px;
      margin-top: 6rem;
    }
  }
  nav {
    padding: 0 5%;
    ul {
      a {
        font-size: 12px;
      }
      li {
        margin: 0 0.2rem;
      }
    }
  }
}

@media (max-width: 600px) {
  header {
    padding: 3rem 5%;
    h1 {
      font-size: 50px;
      line-height: 52px;
      margin-top: 3rem;
      text-align: center;
    }
    p {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }
  nav {
    ul {
      li {
        display: none;
        &:last-child {
          display: block;
          margin: 0 auto;
          width: 200px;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  header {
    h1 {
      font-size: 36px;
    }
  }
}
