.legal-section {
  padding: 8rem 11%;
  p {
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
  }
  .copyright {
    font-weight: bolder;
    margin: 5rem 0 3rem 0;
  }
}

@media (max-width: 600px) {
  .legal-section {
    padding: 2rem 8%;
  }
}
