.subway-section {
  h5 {
    font-size: 24px;
  }
  h6 {
    font-size: 20px;
    margin: 0.75rem 0;
  }
  .how-to-intro {
    text-align: center;
  }
  .app-section {
    margin-top: 4rem;
  }
}

.subway-how-to-wrapper {
  margin-top: 4rem;
  .subway-how-to {
    box-sizing: border-box;
    display: table-cell;
    float: left;
    vertical-align: top;
    width: 50%;
    &:nth-child(1), &:nth-child(3) {
      padding-right: 1.5rem;
    }
    &:nth-child(2), &:nth-child(4) {
      padding-left: 1.5rem;
    }
    &:nth-child(3), &:nth-child(4) {
      margin-top: 4rem;
    }
  }
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

@media (max-width: 600px) {
  .subway-how-to-wrapper {
    .subway-how-to {
      display: block;
      float: none;
      margin: 0 auto;
      width: 90%;
      &:nth-child(1), &:nth-child(3) {
        padding-right: 0;
      }
      &:nth-child(2), &:nth-child(4) {
        padding-left: 0;
      }
      &:nth-child(3), &:nth-child(4) {
        margin-top: 0;
      }
    }
  }
}
